body {
  background-color: slategrey;
  text-align: center;
}

p {
  color: white;
  font-family: Lucida;
  font-size: 1.4em;
  margin: 25px;
}

img {
  margin: 60px 0 30px 0;
  width: 250px;
}

input {
  width: 300px;
  height: 50px;
  margin: 25px;
  border: none;
  border-radius: 10px
  font: Verdana;
  text-align: center;
  font-size: 1.5em;
}

input: focus{
  border: solid 5px #00FFCE;
  outline: none;
}

#calculate {
  background-color: green;
  color: white;
  width: 200px;
}

#calculate:hover {
  background-color: lightgreen;
  cursor: pointer;
}
